<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body >
  <div class="container">
  <h1>Lista de compras</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buy">
     <h2>Para comprar:</h2>
     <ul>
       <li ng-repeat="item in buy.items">
        Comprar {{item.quantity}} {{item.name}} 
        <button class="btn btn-default" ng-click="buy.toBuy($index);"> <span class="glyphicon glyphicon-ok"></span> Comprar</button>
      </li>
     </ul>
     <div ng-if="buy.items.length == 0" class="emptyMessage">
       ¡Compraste todo!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Comprado:</h2>
     <ul>
       <li ng-repeat="item in bought.items">
        {{item.quantity}} {{item.name}}
        </li>
     </ul>
     <div ng-if="bought.items.length == 0" class="emptyMessage">
       No has comprado nada aún
      </div>
    </div>
  </div>
</div>

</body>
</html>
