<!doctype html>
<html>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Mod1_solution</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="list"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default button" ng-click="wordsCheck();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <p ng-style="{'color' : num == '1' ? 'red' : 'green' , 'border-color': num == '1' ? 'red' : 'green'} ">{{res}}</p>
         </div>
   </div>

</body>
</html>
